

    .illustration-img{
        width:696px;
        height:493px;
        margin-top:104px ;
        margin-left:80px;
       

        @media #{$mobile-width}{
            width: 296px;
            height:209px;
            margin-top:69.8px;
            margin-right: 39px;
            margin-left: 40px;
         
        }
    }





.right-content{
    max-width:520px;
    height:225px;
    margin-top: 104px;
    margin-right: 85px;
    margin-bottom: 24px;
    
    .main-heading{
        width:487px;
        height:120px;
        margin-bottom: 24px;

        @media #{$mobile-width}{
            width : 280px;
            height : 72px;
            margin-bottom: 16px;
            margin-top: 0;
            padding-left: 12px;
            padding-right:12px;
        }
      
    }
    .intro{
        width:520px;
        height:81px;

        @media #{$mobile-width}{
            width:304px;
            height:120px;
        }
        
    }

    @media #{$mobile-width}{
        width:304px;
        height:272px;
        margin-top: 0;
       margin-right: 35px;
        margin-left: 36px;
    }
}