.left-content{
    max-width:696px;
    height:493px;
    margin-top:104px ;
    margin-right:59px;
    margin-bottom:107px;
    margin-left:80px;
}
.right-content{
    max-width:520px;
    height:225px;
    margin-top: 136px;
    margin-right: 85px;
    margin-bottom: 24px;
    h1{
        width:487px;
        height:120px;
    }
    p{
        width:520px;
        height:81px;
    }
}