

    .illustration-img{
        width:696px;
        height:493px;
        margin-top:104px ;
        
       
        margin-left:80px;
        border:2px solid gold;
    }





.right-content{
    max-width:520px;
    height:225px;
    margin-top: 104px;
    margin-right: 85px;
    margin-bottom: 24px;
    
    .main-heading{
        width:487px;
        height:120px;
        margin-bottom: 24px;
      
    }
    .intro{
        width:520px;
        height:81px;
        
    }
}