.main-footer{
    display:flex;
    gap:.5rem;
    margin-left: 1208px;
    margin-top: 183px;
    border:2px solid purple;

    p{
        border: 1px solid black;
        border-radius: 50%;
    }
}