*{
    box-sizing: border-box;
}

body{
    
    background: $primary-color url('#{$img-path}/bg-desktop.svg') no-repeat center;
    background-size: cover;
    width:1440px;
    height:800px;

    @media #{$mobile-width}{
        background-color: $primary-color url('#{$img-path}/bg-mobile.svg') no-repeat center;
        width:375px;
        height:800px;
    }
}

.img{
    width:100%;
}

h1{ 
    font-family: Poppins;
    @include text(40px,600,$secondary-color,60px);
    font-style: normal;

    @media #{$mobile-width}{
        @include text(24px,600,$secondary-color,36px);
        text-align: center;
    }
}
/*we can create a mixin for h1*/
p{
    font-family: 'Open Sans';
    @include text(18px,400,$secondary-color,27px);

    @media #{$mobile-width}{
        @include text(16px,400,$secondary-color,24px);
        text-align: center;
    }
}

a:link{
    font-family: Poppins;
    color:$primary-color;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    
}
a:hover{
    font-family: Poppins;
    color:#FFFFFF;
    background-color: $link-hover-color;
}
