*{
    box-sizing: border-box;
}

body{
    
    background: $primary-color url('#{$img-path}/bg-desktop.svg') no-repeat center;
    width:1440px;
    height:800px;
}

h1{ 
    // font-family: Poppins;
    // color:$secondary-color;
    // font-size: 40px;
    // line-height: 60px;
    // font-weight:600;
    // font-style:normal;
    @include text(Poppins,normal,40px,600,60px,$secondary-color);
}
/*we can create a mixin for h1*/
p{
    color:$secondary-color;
    font-family: 'Open Sans';
    font-size:18px;
    font-size: normal;
    font-weight: 400;
    line-height:27px;
}

a:link{
    font-family: Poppins;
    color:$primary-color;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    
}
a:hover{
    font-family: Poppins;
    color:#FFFFFF;
    background-color: $link-hover-color;
}
