*{
    box-sizing: border-box;
}

body{
    
    background: #684BB1 url('/images/bg-desktop.svg') no-repeat center;
    width:1440px;
    height:800px;
}

h1{ 
    font-family: Poppins;
    color:#FFF;
    font-size: 40px;
    line-height: 60px;
    font-weight:600;
    font-style:normal;
}
/*we can create a mixin for h1*/
p{
    color:#FFF;
    font-family: 'Open Sans';
    font-size:18px;
    font-size: normal;
    font-weight: 400;
    line-height:27px;
}

a:link{
    font-family: Poppins;
    color:#684BB1;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    
}
a:hover{
    font-family: Poppins;
    color:#FFFFFF;
    background-color: #E880E8;
}
