/*for the time being*/
@mixin font-face($family,$file){
  @font-face{
    font-family: Poppins;
    src: url('#{font-path}/#{$file}-webfont.eot');
    src: url('#{font-path}/#{$file}-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{font-path}/#{$file}-webfont.woff') format('woff'),
         url('#{font-path}/#{$file}-webfont.ttf') format('truetype');
  }
 
  
    }
    /*used webfont-snippet.css*/

@mixin text($font-family,$font-style,$font-size,$font-weight,$color,$line-height){
  
}