/*universalizing the font injector css snippet*/

$font-path: '../fonts';
$img-path: '../img';

/*some colors*/

$primary-color : #684BB1;
$secondary-color: #FFFFFF;

$link-bg-color: $secondary-color;
$link-hover-color: #E880E8;