/*universalizing the font injector css snippet*/

$font-path: '../fonts';
$img-path: '../images';

/*some colors*/

$primary-color : #684BB1;
$secondary-color: #FFFFFF;

$link-bg-color: $secondary-color;
$link-hover-color: #E880E8;

/*break points..................*/
$mobile-width : '(max-width:375px)';