.callout{
    width:200px;
    height:56px;
    border-radius: 28px;
    background-color: $secondary-color;
    display:inline-block;
    margin-top: 24px;
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 64px;
    padding-right: 63px;
}