%brand-icons{
    border:1px solid gray;
    padding:8px;
    border-radius: 50%;

    &:hover{
        color: $link-hover-color;
        border-color: $link-hover-color;
    }
    
}
%text-align{
    text-align: center;
}