.logo{
    width:200px;
    height:32px;
    margin-left: 80px;
    margin-right: 1160px;
    margin-top: 64px;


}
.fa-facebook{
    @extend %brand-icons;
}
.fa-twitter{
    @extend %brand-icons;
}
.fa-instagram{
    @extend %brand-icons;
}